footer{
    background-color: #070F1C;
    padding: 100px 0;
    h4{
        color: #3A68B8;
        font-size: 15.96px;
    }
    .footerMainDiv{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    p{
        color: white;
        opacity: 60%;
        font-size: 14px;
        font-weight: 450;
    }
    ul{
        list-style: none;
        width: 20%;
        li{
            margin-top: 20px;
            div{
                display: flex;
                align-items: center;
                gap: 5px;
                p{
                    opacity: 100% !important;
                    font-weight: 700;
                }
                i{
                    color: white;
                }
            }
        }
    }
    h3{
        margin-bottom: 50px;
        margin-top: 50px;
        color: white;
    }
    
}