header {
  background-color: #0a121f;
  padding: 24px;
  .headerOneDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerOneDivLogo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h4 {
    color: #3a68b8;
    font-weight: 600;
    font-size: 22.5px;
  }
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  ul a {
    color: white;
    text-decoration: none;
  }
  ul a:hover {
    color: #3a68b8;
  }
}


